body {
  font-family: Arial, sans-serif;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  justify-self: start;
  align-items: center;
  background-color: lightblue;
}

.item {
  background-color: blue;
  margin: 10px;
  padding: 10px;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  color:aliceblue;
}