body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

input {
  margin: 5px;
  padding: 5px;
}

button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;

  /* Elemento pasar el raton sale  */
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}